{% extends "layout.html" %}
{% set active_page = "engineering" %}
{% block title %}{{ lab_id }}{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
      {% for f in float_list %}
        <li class="nav-item">
          {% if f.lab_id == lab_id %}
            <a class="nav-link active" href="{{ url_for('engineering', lab_id=f.lab_id) }}">{{ f.lab_id }}<span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-link" href="{{ url_for('engineering', lab_id=f.lab_id) }}">{{ f.lab_id }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <!-- <h1>Engineering Data {{ lab_id }}</h1> -->
      <!-- Plotly chart -->
      <div id="engineering_timeseries" style="min-width:800px; width: 100%; height: 640px;"></div>
    </main>

  </div>
</div>
{% endblock %}
{% block js %}
<!-- Set ProfileExplorer parameters -->
<script type='text/javascript'>
  var url_static = "{{ url_for('static', filename='') }}";
  var url_api = "{{ url_for('api_eng', lab_id=lab_id, varname='') }}";
</script>
<script src="{{ url_for('static', filename='plotly.min.js') }}"></script>
<!-- Load ProfileExplorer script -->
<script src="{{ url_for('static', filename='profile-explorer.js') }}"></script>
<!-- Run Profile Explorer -->
<script type="text/javascript">
  $(document).ready(function(){
    setEngineeringTimeSeriesPlot();
  });
</script>
{% if config['ONLINE'] %}
<!-- Loading Google Maps API -->
<script type='text/javascript'>
  var path2geojson = path2data + '{{ lab_id }}.geo.json';
</script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBoztEvoNTCie1g87RFSuhgUmjL8QqTg0"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
{% endif %}
{% endblock %}